.carts {
  .cart-row {
    @include media-breakpoint-up(md) {
      border-bottom: 1px solid $primary-200;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .cart-img {
    height: 110px;
    min-width: 110px;
  }
  .cart-img-sm {
    min-width: 120px;
    height: 80px;
  }
  .input-group {
    width: 144px;
    align-items: center;
  }
  .form-control {
    width: 48px;
    height: calc(1.5em + 0.75rem + 12px);
    flex: none;
    text-align: center;
  }
  .btn {
    padding: 11px 15px;
    border: 1px solid $primary-200;
  }
  .cart-remove {
    font-size: 0;
    color: $primary-500;
  }
  .sub-price {
    padding: 0;
    border: none;
    @media (max-width: 768px) {
      padding: 0.55rem 0;
      border-top: 1px solid $primary-200;
      border-bottom: 1px solid $primary-200;
    }
  }
}

.cart-summary {
  background-color: $primary;
  .table td {
    padding-top: 0;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
  @media (max-width: 768px) {
    background-color: #ffffff;
    h2 {
      color: $primary;
      background-color: $primary-200;
    }
    table {
      color: $primary;
      background-color: #ffffff;
    }
  }
}

